
/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generals*/
a{
  display: block;
}
.w220{
  width: 220px;
}

.fa-trash{
  font-size: 20px;
  color: rgb(240, 6, 6) !important;
}
.fa-pen-to-square{
  color: green !important;
  font-size: 20px;
}

/* filter input */
.input-filter{
  height: 35px;
  padding-left:5px
}

.btnfilter{
  padding: 10px;
  height: 35px;
  width: 40px;
  background-color: rgb(24, 148, 231);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}
.fa-search{
  color: white;
}
.fa-user-plus{
    font-size: 30px;
    text-align: right;
}
img{
  height: 100px;
  width: 100px;
}

.title-row{
  background-color: rgb(182, 176, 176) !important;
}

th,td{
  border: 1px solid black;
  
}

main{
  height: 100vh;
}
.listing-container{
  height: 100vh;
}

ul{
  list-style-type: none;
}

.footer{
  background-color:rgb(13, 110, 253) ;
  color:white;

}

.table tr:nth-child(even) { background-color: white }

.table tr:nth-child(odd) { background-color: rgb(75, 156, 231); }


tr:hover{
  background-color:rgb(75, 156, 231) !important;
}

@media screen and (max-width: 576px){
   
    thead {
        display: none;
        visibility: hidden;
      }
    tbody, tr, th, td {
        display: block;
        text-align: left;
        border: 0;      
        padding: 5px; 
        white-space: normal;
      }

    th[data-title]:before,
    td[data-title]:before {
        content: attr(data-title) ":";
        font-weight: bold;
        display: inline-block;
        width: 110px;
    }
    th:not([data-title]) {
      font-weight: bold;
    }
    
    }